@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

header {
    background: rgb(180,16,16);
    margin-bottom: 2em;
}

form {

    margin-bottom: 1.5em;
}

main {
   text-align: center;
}

#aLow {
    width: 0.8em;
}

#aMid {
    width: 1.2em;
}

#aHi {
    width: 1.8em;
}

#aHi:hover, #aMid:hover, #aLow:hover {
    background-color: white;

}

ul {
   margin: 0 10em;
   list-style-type: none;
   
}

li {
   background-color: orange;
   border: 2px solid rgb(0, 0, 0);
   text-align: start;
}

li:hover {
    background-color: red;
}

#fontsize {
    background-color:rgba(255, 111, 0, 0.706)
}



h1 {
    font-size: 2em;
    font-weight: bold;
}

span:hover {
    background-color: rgb(255, 255, 255);
}